<!DOCTYPE html>
<html>
<head>
	<title>Publish Image | Captiongram</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/publish.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="container">
		<div class="main-content">
            <div class="top-wrapper">
                <div class="company-name">
                    <h2>Generated Caption</h2>
                </div>
            </div>
            <div class="home-content">
                <div class="caption-box" style="margin: auto;margin-top: 24px;">
                    <div class="caption-user">
                        <img src="/static/img/avatar.svg">
                        <p>{{user.name}}</p>
                    </div>
                    <div class="caption-image">
                        <img src="/static/captions/{{user.image_path}}">
                    </div>
                    <div class="caption-text">
                        <p>{{user.caption}}</p>
                    </div>
                </div>

            </div>

            <div class="user-publish">
                <a href="{{ url_for('users.commit_captions', rawcaption=user.image_path, caption_text=user.caption)}}" class="approve">Publish</a>
                <a href="/confirm_captions/{{user.image_path}}" class="reject">Generate Another</a>
            </div>


        </div>
        <div class="side-profile">
            <div class="fixed-profile">
                <div class="user-profile">
                    <img src="/static/img/avatar.svg">
                    <div class="user-info">
                        <p class="ptitle">{{ user.name }}</p>
                        <p class="pemail">{{ user.email }}</p>
                        <p><a href="/logout">Log Out</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
