<!DOCTYPE html>
<html>
<head>
	<title>Home | Captiongram</title>
	<link rel="stylesheet" type="text/css" href="static/css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

	<!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<div class="main-content">
            <div class="top-wrapper">
                <div class="company-name">
                    <h2>Captiongram</h2>
                </div>
            </div>
            <div class="menu-wrapper">
                <div class="menu-title">
                    <h3>Dashboard</h3>
                </div>
                <div class="menu-item">
                    <a href="/home" class="menu-item-active">Captions Feed</a>
                    <a href="/add_captions" class="menu-item-unactive">Add New Image</a>
                </div>
            </div>
            <div class="home-content">
                {% for category,message in get_flashed_messages(with_categories=True) %}
						<div class="caption-box" style="max-height:60px">
                            <div class="alert-error" style="padding: 10px;max-width: 90%; {% if category == 'success' %}color:#67C016;{% endif %}{% if category == 'danger' %}color:red;{% endif %}">
                                <i>{{message}}<i>
                            </div>
                        </div>
                {% endfor %}
                
                {% for post,like_count in posts %}
                    <div class="caption-box">
                        <div class="caption-user">
                            <img src="static/img/avatar.svg">
                            <p>{{post.user_name}}</p>
                        </div>
                        <div class="caption-image">
                            <img src="static/captions/{{post.caption_image}}">
                        </div>
                        <div class="caption-text">
                            <p>{{post.caption}}</p>
                        </div>
                        <div 
                            style="display: flex;justify-content:start;padding-left:1.4em;font-size:1.4em"
                        >
                            {% if current_user.has_liked_post(post) %}
                                <a  href="{{ url_for('users.like_action', post_id=post.id, action='unlike') }}">
                                    <i class="fas fa-heart" style="color:#E64E5F"></i>
                                </a>
                            {% else %}
                                <a  href="{{ url_for('users.like_action', post_id=post.id, action='like') }}">
                                    <i class="far fa-heart" style="color:#495057"></i>
                                </a>                              
                            {% endif %}
                            <p style="padding-left:8px;padding-right:12px;color:#818181;font-size:.65em;padding-top:.4em">
                                {{like_count}} likes
                            </p>
                            <a href="{{ url_for('users.add_comment',post_id=post.id) }}">
                                <i class="far fa-comment" style="color:#495057"></i>
                            </a>
                        </div> 
                    </div>
                {% endfor %}
                


            </div>
        </div>
        <div class="side-profile">
            <div class="fixed-profile">
                <div class="user-profile">
                    <img src="static/img/avatar.svg">
                    <div class="user-info">
                        <p class="ptitle">{{ user.name }}</p>
                        <p class="pemail">{{ user.email }}</p>
                        <p><a href="/logout">Log Out</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
