<!DOCTYPE html>
<html>
<head>
	<title>Caption Gram</title>
	<link rel="stylesheet" type="text/css" href="static/css/login.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<div class="company-name">
			<h2>Caption Gram</h2>
		</div>
		<div class="home-wrapper">
			<div class="img">
				<img src="static/img/bg2.svg">
			</div>
			<div class="form-wrapper">
				<div class="login-info">
					<p class="msg1">Welcome back :)</p>
					<p class="msg2">To keep connected with us please login with your personal information, by email and password,</p>
				</div>
				<form method="POST">
					{% for category,message in get_flashed_messages(with_categories=True) %}
						<div class="alert-error" style="padding: 10px;max-width: 90%; {% if category == 'success' %}color:#67C016;{% endif %}{% if category == 'danger' %}color:red;{% endif %}">
							<i>{{message}}<i>
						</div>
					{% endfor %}
					
					{% for field, errors in form.errors.items() %}
						<div class="alert-error" style="padding: 10px;max-width: 90%;color: red;">
							<i>Bummer! {{ ', '.join(errors) }}<i>
						</div>
					{% endfor %}
					
					{{ form.hidden_tag() }}

					<div class="input-container border-top">
						<i class="far fa-envelope icon"></i>
						{{ form.email(class="input-field",required="True", placeholder="Email") }}
					</div>
					<div class="input-container border-bottom">
						<i class="fas fa-lock icon"></i>
						{{ form.password(class="input-field",required="True", placeholder="Password") }}
					</div>
					
					<div class="two_row">
						<button class="login">Login</button>
						<button class="register"><a href="/register" style="text-decoration: none;color:#000">Create account</a></button>
					</div>

				</form>
			</div>
		</div>
    </div>
</body>
</html>
