*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container{
	min-height: 100vh;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
	background: rgb(221,251,251);
	background: linear-gradient(135deg, rgba(221,251,251,1) 0%, rgba(250,237,234,1) 100%);
}

.company-name h2{
	margin-left: 5%;
	margin-top: 10px;
	font-family: 'Ubuntu', sans-serif;
	/* font-family: 'Raleway', sans-serif; */
	font-size: 40px;;
	color: #3F3D56;
}

.home-wrapper{
	display: flex;
	width: 100%;
	height: 100%;
}

.img{
	margin-top: 5em;
	flex: 2;
	position: relative;
	text-align: center;
}

.img img{
	position: relative;
	bottom: 0;
	left: 0;
	width: 85%;
	max-height: 95vh;
}


/* Forms */
.form-wrapper{
	flex: 1;
	padding: 2em;
	margin-top: 50px;
}

/* Lable before the login  */
.msg1{
	font-family: 'Work Sans', sans-serif;
	font-size: 48px;
	color: #3F3D56;
}

.msg2{
	font-size: 24;
	margin-top: 24px;
	margin-bottom: 24px;
	color: #888888;
}

/* Form Inputs */

.input-container {
	padding: absolute;
	width: 80%;
	height: 60px;
	background: #ffffff;
	border: 1px solid #e3e1e1;
	padding: 10px;
}

.input-container:focus-within{
	background: #f5f9fd;
}
/* Style the form icons */
.icon {
	color: #909090;
	padding: 4px;
	margin-left: 18px;
	font-size: 1.6em;
	position: absolute;
}
  
/* Style the input fields */
.input-field {
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	color: rgb(63,61,86);
	outline: none;
	border: 0;
	font-size: 1em;
	margin-left: 15px;
	text-align: center;
}
  
.input-field:focus {
	background: #f5f9fd;
}

/* adding the joint border */
.border-top{
	border-radius: 10px 10px 0px 0px;
}
.border-bottom{
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 15px;
}

/* Remember me and forgot password */
.two_opposite{
	display: flex;
	width: 90%;
	color: #565469;
	justify-content: space-between;
	margin-bottom: 20px;
}

/* remeber me checkbox */


/* Login create accound button */
.two_row{
	display: flex;
	width: 90%;
	margin-bottom: 20px;
}

.two_row button{
	border-radius: 20px;
	margin-right: 10px;
	padding: .6em 2em;
	font-size: 15px;
	min-width: 80px;
	outline: 0;
	border: 0;
	font-family: 'Ubuntu', sans-serif;
	cursor: pointer;
	box-shadow: 1px 2px #888888;

}

.two_row > .login{
	background-color: #2C83F6;;
	color: white;
}

.two_row > .register{
	background-color: #FFFFFF;
	color: #3F3D56;
}

.two_row > .register:hover{
	background-color: #67C016;
	color: #FFFFFF;
}

/* log in with google  */
/*lable for login with google*/
.msg-google{
	font-size: 24;
	margin-top: 24px;
	margin-bottom: 15px;
	color: #888888;
}
/* Login with google button */
.google-button {
	background-color: rgb(221,251,251);
	background-image: url('./img/google.jpg');
	background-size: cover;
	width: 50px;
	height: 50px; 
	border-radius: 50%;
	box-shadow: 0px 0px 1px 5px rgb(218, 217, 216);
}

.google-button:hover{
	cursor: pointer;
}

/* for the mobile hide the image */
@media only screen and (max-width: 600px) {
	.container{
		display: block;
		width: auto;
		height: auto;
		padding: .5rem;
		overflow: visible;
		text-align: center;
	
	}

	.home-wrapper{
		display: block;
		text-align: center;
		margin-top: 0px;
	}

	.company-name h2{
		margin-left: 5%;
		margin-top: 10px;
		font-family: 'Ubuntu', sans-serif;
		/* font-family: 'Raleway', sans-serif; */
		font-size: 40px;;
		color: #3F3D56;
	}
	
	.img{
		display: none;
	}

	.form-wrapper{
		flex: 0;
		padding: 2em;
	}

	.input-container{
		width: 100%;
	}
	
	.two_opposite{
		display: inline;
	}

	.two_opposite div{
		padding: .2em 0;
	}

	.two_row{
		margin-top: 10px;
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	.google-button{
		margin-left: 40%;
	}
}
