*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container{
	min-height: 100vh;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
	background: rgb(221,251,251);
	background: linear-gradient(135deg, rgba(221,251,251,1) 0%, rgba(250,237,234,1) 100%);
}
 

.company-name h2{
	margin-left: 5%;
	margin-top: 10px;
	font-family: 'Ubuntu', sans-serif;
	/* font-family: 'Raleway', sans-serif; */
	font-size: 40px;;
	color: #3F3D56;
}

.home-wrapper{
	display: flex;
	width: 100%;
	height: 100%;
}
.img{
	margin-top: 5em;
	flex: 2;
	position: relative;
	text-align: center;
}

.img img{
	position: relative;
	bottom: 0;
	left: 0;
	width: 85%;
	max-height: 95vh;
}


/* Forms */
.form-wrapper{
	flex: 1;
    padding: 2em;
    position: relative;
    top: -95px;
}

/* Lable before the login  */
.msg1{
	font-family: 'Work Sans', sans-serif;
	font-size: 48px;
	color: #3F3D56;
}

.msg2{
	font-size: 24;
	margin-top: 24px;
	margin-bottom: 24px;
	color: #888888;
}

/* Form Inputs */
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
	width: 80%;
	height: 60px;
	background: #ffffff;
    border: 1px solid #e3e1e1;
    padding:2em 0em;
}


.input-container:focus-within{
	background: #f5f9fd;
}

.input-container label{
    width: 80%;
    text-align: left;
    flex: 1;
    font-size: .8em;
    margin-left: 15px;
    color: #888888;
}

  
/* Style the input fields */
.input-field {
    flex: 2;
	width: 80%;
	font-family: 'Ubuntu', sans-serif;
	color: rgb(63,61,86);
	outline: none;
	border: 0;
	font-size: 1em;
	margin-left: 15px;
}
  
.input-field:focus {
	background: #f5f9fd;
}

/* adding the joint border */
.border-top{
	border-radius: 10px 10px 0px 0px;
}
.border-bottom{
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 15px;
}

.border-full{
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 15px;
}
/* less margin for the number */
.input-mobile{
    margin-bottom: 5px;
}


/* Login create accound button */
.two_row{
	display: flex;
	width: 90%;
	margin-bottom: 10px;
}

.two_row button{
	border-radius: 20px;
	margin-right: 10px;
	padding: .6em 2em;
	font-size: 15px;
	min-width: 80px;
	outline: 0;
	border: 0;
	font-family: 'Ubuntu', sans-serif;
	cursor: pointer;
	box-shadow: 1px 2px #888888;

}

.two_row > .login{
	background-color: #2C83F6;
	color: white;
}

.two_row > .register{
	background-color: #FFFFFF;
	color: #3F3D56;
}

.two_row > .register:hover{
	background-color: #67C016;
	color: #FFFFFF;
}

/* log in with google  */
/*lable for login with google*/
.input-mobile{
    margin-bottom: 5px;
}

.msg-phone{
    font-size: 12px;
    margin-bottom: 15px;
    color: #888888;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    width: 80%;
}

.msg-login{
	font-size: 16px;
	margin-top: 10px;
	color: #888888;
}
.msg-login a{
    text-decoration: none;
    color: #67C016;
}



/* for the mobile hide the image */
@media only screen and (max-width: 600px) {
	.container{
		display: block;
		width: auto;
		height: auto;
		padding: .5rem;
		overflow: visible;
		text-align: center;
	
    }
    
    .form-wrapper{
        top: 0;
    }

	.home-wrapper{
		display: block;
		text-align: center;
		margin-top: 0px;
	}

	.company-name h2{
		margin-left: 5%;
		margin-top: 10px;
		font-family: 'Ubuntu', sans-serif;
		/* font-family: 'Raleway', sans-serif; */
		font-size: 40px;;
		color: #3F3D56;
	}
	
	.img{
		display: none;
	}

	.form-wrapper{
		flex: 0;
		padding: 2em;
	}

	.input-container{
		width: 100%;
    }
    
    .two_row{
        display: block;
        width: 100%;
        text-align: center;
    }


}
